@model Cinema

<div class="card">
    <div class="img-container">
        <div class="img-blur" style="background-image:url(@Model.Poster)"></div>
        <img src="@Model.Poster" onerror="event.target.src='/img/placeholder.png'" class="card-img-top" alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title">@Model.Title (@Model.Year)</h5>
        <p class="card-text">Genre : @Model.Type</p>

        @if (Model.Plot == null)
        {
            <a my-type="Full" movie="@Model"></a>
        }
        <a my-type="Modal" movie="@Model" data-open-modal></a>
    </div>
</div>