@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div class="container">
    @if (Model.Error != null)
    {
        <h1 class="text-danger">@Model.Error</h1>
    }
    else if (!string.IsNullOrWhiteSpace(@Model.Title))
    {
        <p>Search results by title : @Model.Title  (@Model.TotalResults)</p>

        <div class="row">
            <partial name="_MovieListPartial" model="@Model.Movies"></partial>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">


                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage-1)"
                               asp-route-title="@Model.Title">Previous</a>
                        </li>
                    }

                    @for (int i = @Model.CurrentPage - @Model.CountViewPage; i <= @Model.CurrentPage + @Model.CountViewPage; i++)
                    {
                        if (i > 0 && i <= @Model.TotalPages)
                        {
                            <li class="page-item @(i==Model.CurrentPage ? "active" : ' ')">
                                <a class="page-link"
                                   asp-action="Search"
                                   asp-controller="Home"
                                   asp-route-page="@i"
                                   asp-route-title="@Model.Title">@i</a>
                            </li>
                        }

                    }

                    @if (Model.TotalPages > Model.CurrentPage)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage+1)"
                               asp-route-title="@Model.Title">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    }
    else
    {
        <p>Not results</p>
    }
</div>

<button id="buttonNext" class="btn btn-primary">Next</button>

<partial name="_ModalWindowPartial"></partial>

@section Farid{
    <script>
        initPagination(@Model.CurrentPage, @Model.TotalPages, '@Url.ActionLink("SearchResult","Home",new {title = Model.Title})');
    </script>
}